## 文档下载路径：
    https://github.com/hellozybwl/day-notes/blob/master/2019-2-19.ipynb



## jupyter的常用操作

    用 Up 和 Down 键向上和向下滚动你的单元格。
    按 A 或 B 在活动单元上方或下方插入一个新单元。
    M 将会将活动单元格转换为 Markdown 单元格。
    Y 将激活的单元格设置为一个代码单元格。
    D + D(按两次 D)将删除活动单元格。
    Z将撤销单元格删除。 * 按住 Shift，同时按 Up 或 Down ，一次选择多个单元格。
    选择了 multple，Shift + M 将合并你的选择

## git的用法教程

    http://www.bootcss.com/p/git-guide/

## 数据分析库
    import pandas as pd 

## 科学计算库
    import numpy as np

## 随机森林算法库
    from sklearn.ensemble import RandomForestRegressor
    random_state：
        If None, the random number generator is the RandomState instance used by ’np.random‘
        If int, random_state is the seed used by the random number generator
    n_estimators：
        The number of trees in the forest
        决策树的个数，越多越好，但是性能就会越差
    n_jobs：
        The number of jobs to run in parallel for both `fit` and `predict`
        `-1` means using all processors

    rfr = RandomForestRegressor(random_state=0, n_estimators=2000, n_jobs=-1)
    rfr.fit(X, y)

## 线性函数库
    from sklearn import linear_model

    C : float, default: 1.0
        Inverse of regularization strength; must be a positive float.
        Like in support vector machines, smaller values specify stronger
        regularization.
    penalty : str, 'l1' or 'l2', default: 'l2'
        Used to specify the norm used in the penalization. The 'newton-cg',
        'sag' and 'lbfgs' solvers support only l2 penalties.
    tol : float, default: 1e-4
        Tolerance for stopping criteria. 

    clf = linear_model.LogisticRegression(C=1.0, penalty='l1', tol=1e-6)
    clf.fit(X, y)

## get_dummies 
    get_dummies 是利用pandas实现one hot encode的方式
    下面举个例子：

In [42]:
import pandas as pd
#3位乘客分别从不同港口上船，如何把无意义的港口变为数据
df = pd.DataFrame([  
            ['A' , 'S'],   
            ['B' , 'T'],   
            ['C' , 'S']])  

df.columns = ['passenger',  'port'] 
dummies = pd.get_dummies(df) 
#选取有用的数据
port_data = dummies.filter(regex='port_.*')
port_data

   port_S  port_T
0       1       0
1       0       1
2       1       0

##  DataFrame.drop 用法
    DataFrame.drop(labels=None,axis=0, index=None, columns=None, inplace=False)

    参数说明：
    labels 就是要删除的行列的名字，用列表给定
    axis 默认为0，指删除行，因此删除columns时要指定axis=1；
    index 直接指定要删除的行
    columns 直接指定要删除的列
    inplace=False，默认该删除操作不改变原数据，而是返回一个执行删除操作后的新dataframe；
    inplace=True，则会直接在原数据上进行删除操作，删除后无法返回

In [39]:
dummies
#dummies_add = dummies.drop(['passenger_A', 'passenger_B', 'passenger_C'], axis=1, inplace=True)
#dummies_add
#也可以用这种方式删除数据

   passenger_A  passenger_B  passenger_C  port_S  port_T
0            1            0            0       1       0
1            0            1            0       0       1
2            0            0            1       1       0

##  DataFrame.concat 用法

In [45]:
new_df = pd.concat([df,port_data], axis=1)
new_df

  passenger port  port_S  port_T
0         A    S       1       0
1         B    T       0       1
2         C    S       1       0

## 6： sklearn 数据预处理 归一化/标准化/正则化

In [48]:
import sklearn.preprocessing as preprocessing
import numpy as np
X = np.array([[1.,-1.,2.],[2.,0.,0.],[0.,1.,-1.]])
X_scaled = preprocessing.scale(X)
X_scaled

array([[ 0.        , -1.22474487,  1.33630621],
       [ 1.22474487,  0.        , -0.26726124],
       [-1.22474487,  1.22474487, -1.06904497]])

In [50]:
#使用该类的好处在于可以保存训练集中的参数（均值、方差）直接使用其对象转换测试集数据
scaler = preprocessing.StandardScaler().fit(X)
scaler.transform(X)

array([[ 0.        , -1.22474487,  1.33630621],
       [ 1.22474487,  0.        , -0.26726124],
       [-1.22474487,  1.22474487, -1.06904497]])

# 方差如何计算的   （标准差是用来衡量一组数据的离散程度的统计量）
    
    如果有数据input  :   [1,2,3,4,5]
    通过均值计算得数据:   [-2,-1,0,1,2]
    数据的总体均方差：     每个数的平方/数据个数
    最后结果：            每列数据/总体均方差

In [59]:
fit_scaler = preprocessing.StandardScaler()
fit_scaler.fit_transform(X)

array([[ 0.        , -1.22474487,  1.33630621],
       [ 1.22474487,  0.        , -0.26726124],
       [-1.22474487,  1.22474487, -1.06904497]])

# python选取特定列——pandas的iloc和loc

    df = df.loc[0:2, ['A', 'C']]  
    df = df.iloc[0:2, [0, 2]] 
    loc是根据dataframe的具体标签选取列，而iloc是根据标签所在的位置，从0开始计数
    第二个示例中的的0:2表示选取第0行到第二行，这里的0:2相当于[0,2）前闭后开，2是不在范围之内的